body{
    text-align: center;
    font-family: "Arial";
    background-color: rgb(27, 95, 107);
    margin: 0;
    display: flex;
    justify-content: center;
}

#container{
    width: 70%;
    padding: 1rem;
    text-align: left;
    border: 1px solid #fff;
    color: rgba(4, 4, 26, 0.933);
    font-size: 25px; 
}

